#root {
  font-family: "Karla", sans-serif;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Markazi Text", serif;
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: medium;
}
h2,
h3 {
  font-size: 40px;
  font-weight: normal;
}
h5 {
  font-size: 24px;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 1.5rem;
  max-width: 65ch;
  text-wrap: pretty;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
  padding: 16px 0px;
}

header ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 16px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  font-weight: 600;
}
.button.button-primary {
  background-color: #face14;
  padding: 8px 16px;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.cta {
  padding: 16px 0;
  background-color: #495e57;
  width: 100%;
  color: #edefee;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  position: relative;
}
.cta h1 {
  color: #face14;
}

.cta div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weeks-specials {
  margin: 0 auto;
  max-width: 1200px;
  margin: 64px 32px;
}
.week-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 32px;
}

.menu-list article {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #edefee;
}
.menu-list p {
  padding: 16px;
  flex: 1;
}
.menu-list footer {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
}

.menu-list header {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-content: space-between;
  justify-content: center;
}

footer section {
  flex: 1;
}

footer section ul {
  padding: 0;
}

footer section li {
  list-style: none;
}
